#choices li, #answer li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

body {
    background-size: cover;
    
}

h1 {
text-align: center;
font-size: 40px;
color: #E43035;
margin-top: 140px;
font-family: Georgia, 'Times New Roman', Times, serif;

}

h2 {
    text-align: center;
    font-size: 40px;
    color: #E43035;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.disabled {
    opacity: 0.3;
}

div {
text-align: center;
}

#score {
    text-align: center;
    color: black;
    background-color: #E43035;
    border-style: outset;
    max-width: 100px;
    margin-left: 65px;
}

 #choices li {
    margin-top: 60px;    
    border-style: outset;
    background-color: #E43035;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#answer li {
    margin-top: 70px;
    color: whitesmoke;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;; 
}

#choices, button {
    cursor: pointer;
}

.play {
    text-align: center;
    color: black;
    background-color: #E43035;
    border-style: outset;
    max-width: 200px;
    margin-left: 63px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}